@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&family=Bebas+Neue&family=JetBrains+Mono:wght@300;400&family=Poppins:wght@400;500;600&family=Questrial&family=Roboto:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Archivo', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'JetBrains Mono', monospace;
font-family: 'Poppins', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Roboto', sans-serif; */
}
html {
  scroll-behavior: smooth;
}
body {
  background: url("./assets/milad-fakurian-iLHDO19h0ng-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden !important;
  overflow: overlay;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* scroll-bar */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: linear-gradient(#12c2e9, #c471ed, #f64f59);
}
.transition {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  list-style: none;
  pointer-events: none;
}
.transition > li {
  width: 20%;
  height: 100%;
  scale: 0;
}
.navigation {
  position: relative;
}
.hamburger {
  position: fixed;
  left: 0.8rem;
  top: -0.9rem;
  z-index: 30;
}

@media screen and (max-width: 800px) {
  .hamburger {
    left: -1rem;
    top: -1rem;
  }
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  width: 3rem;
  z-index: 10;
}
.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.up,
.right {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
.up {
  left: 0;
  top: -100%;
  background-color: rgba(152, 152, 152, 0.316);
}
.home {
  height: 2.2rem;
  width: 2.7rem;
  position: absolute;
  top: 1.9rem;
  left: 4.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}
.home:hover {
  transform: scale(1.15);
}
.right {
  right: -100%;
  background-color: rgba(152, 152, 152, 0.316);
}
.head {
  height: 60%;
  width: 70%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Questrial", sans-serif;

}
#head1,
#head2 {
  position: absolute;
  top: -150px;
  left: 0;
}
.heading,
.comp {
  color: white;
  display: block;
  font-size: 2.3rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 900;
  font-family: "Archivo", sans-serif;
}

.content {
  color: white;
}
.content > ul > li {
  font-family: "Bebas Neue", cursive;
  list-style: none;
  margin: 5px;
  font-size: 2rem;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  width: fit-content;
  position: relative;
  cursor: pointer;
}
.content > ul > li > a {
  color: white;
  text-decoration: none;
}
.right > .head > .content {
  margin-top: 5rem;
}
.content > ul > li::after {
  content: "";
  display: block;
  width: 0px;
  height: 5px;
  background-color: white;
  transition: width 0.5s ease-in-out;
}
.content > ul > li:hover::after {
  width: 100%;
}

@media screen and (max-width: 700px) {
  #head1, #head2 {
    top: -71px;
}
  .heading,.comp{
    font-size: 1.5rem;
  }
  .content> ul> li{
    font-size: 1.2rem;
  }
}



.about {
  margin-top: 5rem;
  padding: 1.5rem;
  width: 90%;
  background-color: rgba(140, 140, 140, 0.438);
  border-radius: 20px;
  color: white;
  font-family: "Questrial", sans-serif;
}

.about > h1 {
  font-size: 2.1rem;
  margin: 1rem 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.about > p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: "Questrial", sans-serif;
}
.extras {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  padding: 1rem;
}
.complexityTable {
  font-family: "Manrope", sans-serif;
  background-color: rgba(140, 140, 140, 0.438);
  width: 50%;
  height: 25rem;
  margin: 2rem;
  border-radius: 15px;
}

/* =========== table ============= */
table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  color: white;
}
th,
td {
  text-align: center;
}
.timeComplexity > th,
.spaceComplexity > th {
  border-right: 2px solid rgb(199, 199, 199);
  font-family: "Questrial", sans-serif;
  text-transform: capitalize;
  font-size: 1.3rem;
  letter-spacing: 1.3px;
}
.timeComplexity > th,
.timeComplexity > td {
  border-bottom: 2px solid rgb(199, 199, 199);
}
.worst > th,
.best > th,
.average > th {
  font-family: "Questrial", sans-serif;
  text-transform: capitalize;
  letter-spacing: 1.1px;
  border-right: 2px solid rgb(199, 199, 199);
}
.worst > th,
.average > th {
  border-bottom: 2px solid rgb(199, 199, 199);
}
.worst > td,
.average > td {
  border-bottom: 2px solid rgb(199, 199, 199);
}
.worst > td,
.best > td,
.average > td {
  font-size: 1.4rem;
}
.spaceComplexity > td {
  font-size: 1.4rem;
}

/*================ code ================  */
.code {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  height: 25rem;
 
  border-radius: 2rem;
  background-color: rgb(40, 44, 52);
}
#code {
  width: 90%;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}
#code > pre > code {
  font-family: "JetBrains Mono", monospace;
}

.buttons {
  position: sticky;
  top: 25%;
  background-color: rgb(26 26 26);
  border-radius: 10px 0 0 10px;
  width: 10%;
  height: 14rem;
  margin-top: 12%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
div > img {
  width: 2.4rem;
  cursor: pointer;
}
.java,
.js {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 1.5rem 1.5rem 0;
}


@media screen and (max-width: 1100px) {
  .extras {
    flex-direction: column;
  }
  .complexityTable {
    width: 110%;
  }
  .code {
    width: 110%;
  }
  #code{
    padding: 0.3rem;
     width: 85%;
    overflow-x: auto;
  }
   #headx{
    font-size: 1.8rem;
  }
  .buttons{
    width: 15%;
  }
  .java,.js{
     height: 3.5rem;
     border-radius: 0 1.2rem 1.2rem 0;
  }
  .java>img,.js>img{
    height: 2.8rem;
  }
}

/* heading  */
.sortHeading {
  color: white;
  height: 100vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.head {
  height: 15%;
  display: flex;
  align-items: flex-start;
}
.head > h1 {
  font-size: 2.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.visualizer {
  height: 90%;
  width: 90%;
  background-color: rgba(140, 140, 140, 0.438);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.control {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Manrope", sans-serif;
}
.elements {
  padding: 0.5rem;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.ele {
  color: black;
  font-size: 1rem;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.9rem;
  height: 5rem;
  background: radial-gradient(
    circle 1224px at 10.6% 8.8%,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 202, 251, 1) 100.2%
  );
  border: 1px solid rgba(0, 0, 0, 0.614);
  border-radius: 4px 4px 0 0;
  transition: all 0.12s linear;
}
label {
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
/* ================== button ========================= */
.ranges {
  width: 40%;
  display: flex;
  margin-top: 1rem;
}
.controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}
@media screen and (max-width: 900px) {
  .controls {
    position: relative;
    top: 20px;
    flex-direction: column;
    height: 10rem;
    width: auto;
  }
  .ranges {
    flex-direction: column;
  }
  .speed {
    margin-left: 0px !important;
  }
}


button {
  width: 10rem;
  margin: 1rem;
  cursor: pointer;
}
.btn-30,
.btn-30 *,
.btn-30 :after,
.btn-30 :before,
.btn-30:after,
.btn-30:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-30 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: rgba(0, 0, 0, 0.716);
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-30:disabled {
  cursor: default;
}
.btn-30:-moz-focusring {
  outline: auto;
}
.btn-30 svg {
  display: block;
  vertical-align: middle;
}
.btn-30 [hidden] {
  display: none;
}
.btn-30 {
  border-radius: 999px;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
}
.btn-30 span {
  mix-blend-mode: difference;
}
.btn-30:before {
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: -200%;
  transform: translateX(-50%);
  transition: height 0.3s;
}
.btn-30:hover:before {
  height: 400%;
}
.btn-30 .text-container {
  display: block;
  overflow: hidden;
  position: relative;
}
.btn-30 .text {
  display: block;
  mix-blend-mode: difference;
  position: relative;
}
.btn-30:hover .text {
  -webkit-animation: move-up-alternate 0.3s ease forwards;
  animation: move-up-alternate 0.3s ease forwards;
}
@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  to {
    transform: translateY(0);
  }
}

/* ==================================================== */

/* slider */
.elementSize,
.speed {
  width: 100%;
}
.speed {
  margin-left: 5px;
}
input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 1px #000000;
  background: #8f8f8f;
  border-radius: 16px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 1px solid #333333;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #8f8f8f;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 1px #000000;
  background: #8f8f8f;
  border-radius: 16px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 1px solid #333333;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #8f8f8f;
  border: 0px solid #000000;
  border-radius: 32px;
  box-shadow: 0px 0px 1px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #8f8f8f;
  border: 0px solid #000000;
  border-radius: 32px;
  box-shadow: 0px 0px 1px #000000;
}
input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 1px solid #333333;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #8f8f8f;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #8f8f8f;
}
